.container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-top: 100px;
  padding-bottom: 100px;
}

.title {
  color: white;
  font-size: 36px;
  font-weight: 600;
  margin-left: 10%;
}

.container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container img {
  border-radius: 10px;
  max-width: 70%;
  place-self: center;
  margin-bottom: 5px;
}

.character {
  opacity: 0.8;
  margin-top: 5px;
}