.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  padding-bottom: 100px;
}

.title {
  color: white;
  font-size: 36px;
  font-weight: 600;
  margin-left: 10%;
}